* {
  box-sizing: border-box;
}

#letter-c {
  width: 300px;
  border: 1px solid blue;

  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 33.333%;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background-color: white;
  /* margin-bottom: -2px; */
}

#letter-u {
  width: 500px;
  border: 1px solid blue;

  display: flex;
  flex-wrap: wrap;
}

.box-u {
  width: 20%;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background-color: white;
  /* margin-bottom: -2px; */
}

.ink {
  position: absolute;
  inset: 0;
  filter: invert(1);
}

.circle {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  background: white;
}

#c1 {
  top: 0;
  left: 0;
}

#c2 {
  top: -100%;
  left: -100%;
}

.r90 {
  transform: rotate(90deg);
}
.r270 {
  transform: rotate(270deg);
}

.invert {
  background-color: black;
}

.no-border {
  border: 0;
}
