body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.world {
  position: absolute;
}

.background {
  width: 3300px;
  height: 3300px;
  background-image: url(bigmap.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 3300px 3300px;
  position: absolute;
  top: 0;
  left: 0;
}

.character {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
}
